//.top-buffer { margin-right: 15px;}


.box-title {
    width: 100%;
    text-align: center;
    padding: 25px;
    padding-bottom: 0px;
}

.btn-alt {
    // width: 40%;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.btn-insert {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}
