<div class="toolbar" id="kt_toolbar">
  <div id="kt_toolbar_container" class="d-flex flex-stack">
    <div>
      <p-menubar [model]="items"></p-menubar>
    </div>
  </div>
</div>

<!--<aside class="main-sidebar">
   sidebar: style can be found in sidebar.less
  <section class="sidebar">


     <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Administrador</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/app-modalidade-entrega']" routerLinkActive="router-link-active" ><i class="fa fa-circle-o"></i>Modalidades de Entregas</a></li>
          <li><a [routerLink]="['/app-perfil']" routerLinkActive="router-link-active" ><i class="fa fa-circle-o"></i>Perfil</a></li>
          <li><a [routerLink]="['/app-localizacao']" routerLinkActive="router-link-active" ><i class="fa fa-circle-o"></i>Localizacao</a></li>
          <li><a [routerLink]="['/app-status-pedidos']" routerLinkActive="router-link-active" ><i class="fa fa-circle-o"></i>Status Pedidos</a></li>
          <li><a [routerLink]="['/app-tipo-pedidos']" routerLinkActive="router-link-active" ><i class="fa fa-circle-o"></i>Tipo de Pedidos</a></li>
          <li><a [routerLink]="['/app-usuarios']" routerLinkActive="router-link-active" ><i class="fa fa-circle-o"></i> Usuários</a></li>
        </ul>
      </li>
    </ul>


  </section>
</aside>-->
